<div class="row">
    <div class="col-md-2">
        &nbsp;
        <!--<p><a class="btn btn-info" href="#/alumnos/new" role="button">Nuevo Alumno</a></p>-->
        <button role="button" class="btn" ng-click="editAlumno('new')" data-toggle="modal" href="#editModal">Nuevo</button>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha Nacimiento</th>
                    <th>Fecha Alta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="alumno in alumnos">
                    <td>
                        {{alumno.id}}
                    </td>
                    <td>
                        {{alumno.nombre}}
                    </td>
                    <td>
                        {{alumno.primerApellido + ' ' + alumno.segundoApellido}}
                    </td>
                    <td>
                        {{alumno.fechaNacimiento | date: 'dd-MM-yyyy'}}
                    </td>
                    <td>
                        {{alumno.fechaAlta | date: 'dd-MM-yyyy'}}
                    </td>
                    <td>
                        <!--<a href="#/alumnos/edit/{{alumno.id}}">Editar</a>-->
                        <button role="button" class="btn" ng-click="editAlumno(alumno)" data-toggle="modal" href="#editModal">Edit</button>
                        <!--<button role="button" class="btn" ng-click="seleccionaAlumno(alumno)" data-toggle="modal" href="#asignaFamiliarModal">Familiares</button>-->
                        <button role="button" class="btn" ng-click="verFamiliares(alumno)" data-toggle="modal" href="#verFamiliares">Ver Familiares</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" ng-include="'app/views/newAlumno.html'" id="editModal" role="dialog"></div>
    <div class="modal fade" ng-include="'app/views/asignaFamiliar.html'" id="asignaFamiliarModal" role="dialog"></div>
    <div class="modal fade" ng-include="'app/views/verFamiliares.html'" id="verFamiliares" role="dialog"></div>
</div>