<div class="row">
    <div class="col-md-2">
        &nbsp;
        <p><a class="btn btn-info" href="#/alumnos/new" role="button">Nuevo Alumno</a></p>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="alumno in alumnos">
                    <td>
                        {{alumno.id}}
                    </td>
                    <td>
                        {{alumno.nombre}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>