
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h2>{{ 'ASIGNAR_CLASE' | translate}}</h2>
        </div>
        <div class="modal-body">
            <form>
                <h2>{{ 'PROFESOR' | translate}}: {{profesor.nombre}}</h2>
                <label>{{ 'CLASES' | translate}}</label>
                <table>
                    <tr data-ng-repeat="clase in clases">
                        <td>
                            <input type="radio" name="claseSelect" data-ng-model="profesor.claseId" value="{{clase.id}}" />
                            {{clase.nombre}}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="asignarClase(profesor)">{{ 'GUARDAR' | translate}}</button>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <div data-ng-hide="messageok == ''" class="alert alert-success">
                {{messageok}}
            </div>
        </div>
    </div>
</div>