<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h2>Clase</h2>
        </div>

        <div class="modal-body">
            <label>Curso</label>
                <select class="form-control" ng-options="curso as curso.descripcion for curso in cursos" ng-model="curso"  ng-change="cargarAlumnos(curso.id)"></select>
            <div>
                <form>
                    <h2>Clase: {{clase.nombre}}</h2>
                    
                    <label>Alumnos</label>
                    <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="alumno in alumnos">
                            <td>{{alumno.nombre }}
                            <td>{{alumno.primerApellido}}</td>
                            <td>{{alumno.segundoApellido}}</td>
                            <td><input type="checkbox" name="seleccionado" data-ng-model="alumno.seleccionado"></></td>
                        </tr>
                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-info btn-block" ng-show="isAsignacion" ng-click="asignarAlumnos(clase.id, curso.id)">Asignar</button>
                <button class="btn btn-lg btn-info btn-block" ng-show="isVerAlumnos" ng-click="eliminarAsignacion(clase.id, curso.id)">Eliminar</button>

                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
                <div data-ng-hide="messageok == ''" class="alert alert-success">
                    {{messageok}}
                </div>
            </div>
        </div>
    </div>