<div class="row">
    <div class="col-md-2">
        &nbsp;
        <!--<p><a class="btn btn-info" href="#/centros/new" role="button">Nuevo Centro</a></p>-->
        <button role="button" class="btn" ng-click="editCentro('new')" data-toggle="modal" href="#editModal">Nuevo</button>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Centro ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Fecha Alta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="centro in centros">
                    <td>
                        {{centro.id}}
                    </td>
                    <td>
                        {{centro.nombre}}
                    </td>
                    <td>
                        {{centro.direccion}}
                    </td>
                    <td>
                        {{centro.fechaAlta | date:"dd/MM/yyyy"}}
                    </td>
                    <td>

                        <!--<btn ng-click="seleccionaCentro(centro.id)">Selecciona</btn>-->
                        <button role="button" class="btn" ng-click="editCentro(centro)" data-toggle="modal" href="#editModal"><span class="glyphicon glyphicon-pencil"></span></button>
                        <!--<button role="button" class="btn" ng-click="seleccionaCentro(centro.id)" data-toggle="modal" href="#editModal">Seleccionar</button>-->
                        <button role="button" class="btn" ng-click="deleteCentro(centro.id)"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" ng-include="'app/views/newCentro.html'" id="editModal" role="dialog"></div>
    </div>
</div>