<div class="row">
    <div class="col-md-2">
        &nbsp;
        <p><a class="btn btn-info" href="#/centros/new" role="button">Nuevo Centro</a></p>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Centro ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Fecha Alta</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="centro in centros">
                    <td>
                        {{centro.id}}
                    </td>
                    <td>
                        {{centro.nombre}}
                    </td>
                    <td>
                        {{centro.direccion}}
                    </td>
                    <td>
                        {{centro.fechaAlta}}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="centro.EstaActivo" disabled="disabled"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>