<div class="row">
    <div class="col-md-2">
        &nbsp;
        <p><a class="btn btn-info" href="#/clases/new" role="button">Nueva Clase</a></p>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="clase in clases">
                    <td>
                        {{clase.id}}
                    </td>
                    <td>
                        {{clase.nombre}}
                    </td>
                    <td>
                        <!--<btn ng-click="asignarAlumnos(clase.id)">Asignar Alumnos</btn>-->
                        <!--<btn ng-click="mostrarAlumnos(clase)">Asignar Alumnos</btn>-->
                        <!--<btn ng-click="verAlumnos(clase)">Ver</btn>-->
                        <!--<a href="/#clases/edit/{{clase.id}}">Editar</a>-->
                        <button role="button" class="btn" ng-click="editClase(clase)" data-toggle="modal" href="#editModal">Edit</button>
                        <button role="button" class="btn" ng-click="verAlumnos(clase)" data-toggle="modal" href="#asignaModal">Ver Alumnos</button>
                        <button role="button" class="btn" ng-click="mostrarAlumnos(clase)" data-toggle="modal" href="#asignaModal">Asignar Alumnos</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="modal fade" ng-include="'app/views/newClase.html'" id="editModal" role="dialog"></div>

        <div class="modal fade" ng-include="'app/views/asignaAlumno.html'" id="asignaModal" role="dialog"></div>
        
    </div>
</div>