<div class="row">
    <div class="col-md-12">
        <h2>{{ 'CLASES' | translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
        <button role="button" class="btn" ng-click="editClase('new')" data-toggle="modal" href="#editModal">{{ 'NUEVO' | translate}}</button>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ 'CLASE_CAMPOS.ID' | translate}}</th>
                    <th>{{ 'CLASE_CAMPOS.NOMBRE' | translate}}</th>
                    <th>{{ 'ACCIONES' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="clase in clases">
                    <td>
                        {{clase.id}}
                    </td>
                    <td>
                        {{clase.nombre}}
                    </td>
                    <td>
                        <button role="button" class="btn" ng-click="editClase(clase)" data-toggle="modal" href="#editModal">{{ 'EDITAR' | translate }}</button>
                        <button role="button" class="btn" ng-click="verAlumnos(clase)" data-toggle="modal" href="#asignaModal">{{ 'VER_ALUMNOS' | translate}}</button>
                        <button role="button" class="btn" ng-click="mostrarAlumnos(clase)" data-toggle="modal" href="#asignaModal">{{ 'ASIGNAR_ALUMNOS' | translate }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="modal fade" ng-include="'app/views/newClase.html'" id="editModal" role="dialog"></div>

        <div class="modal fade" ng-include="'app/views/asignaAlumno.html'" id="asignaModal" role="dialog"></div>
        
    </div>
</div>