<div class="row">
    <div class="col-md-2">
        &nbsp;
        <p><a class="btn btn-info" href="#/cursos/new" role="button">Nuevo Curso</a></p>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Curso ID</th>
                    <th>Descripción</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="curso in cursos">
                    <td>
                        {{curso.id}}
                    </td>
                    <td>
                        {{curso.descripcion}}
                    </td>
                    <td>
                        {{curso.fechaInicio}}
                    </td>
                    <td>
                        {{curso.fechaFin}}
                    </td>
                    <td>
                        <a href="#/cursos/edit/{{curso.id}}">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>