<div class="row">
    <div class="col-md-12">
        <h2>{{ 'CURSOS' | translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
        <!--<p><a class="btn btn-info" href="#/cursos/new" role="button">Nuevo Curso</a></p>-->
        <button role="button" class="btn" ng-click="editCurso('new')" data-toggle="modal" href="#editModal">{{ 'NUEVO' | translate}}</button>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ 'CURSO_CAMPOS.ID' | translate}}</th>
                    <th>{{ 'CURSO_CAMPOS.DESCRIPCION' | translate}}</th>
                    <th>{{ 'CURSO_CAMPOS.FECHA_INICIO' | translate}}</th>
                    <th>{{ 'CURSO_CAMPOS.FECHA_FIN' | translate}}</th>
                    <th>{{ 'CURSO_CAMPOS.ACTIVO' | translate}}</th>
                    <th>{{ 'ACCIONES' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="curso in cursos">
                    <td>
                        {{curso.id}}
                    </td>
                    <td>
                        {{curso.descripcion}}
                    </td>
                    <td>
                        {{curso.fechaInicio | date:"dd/MM/yyyy"}}
                    </td>
                    <td>
                        {{curso.fechaFin | date:"dd/MM/yyyy"}}
                    </td>
                    <td>
                        <input type="checkbox" ng-model="curso.activo" />
                    </td>
                    <td>
                        <button role="button" class="btn" ng-click="editCurso(curso)" data-toggle="modal" href="#editModal">{{ 'EDITAR' | translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" ng-include="'app/views/newCurso.html'" id="editModal" role="dialog"></div>
    </div>
</div>