<div class="row" data-ng-show="authentication.isAuth">
    <div data-ng-show="isAdmin">
        <h2>Administrador</h2>
        <p><a class="btn btn-info" href="#/admin/centros" role="button">Ver Centros</a></p>
        <p><a class="btn btn-info" href="#/admin/usuarios" role="button">Ver Usuarios</a></p>
    </div>

    <div data-ng-show="isGestor">
        <h2>Gestor</h2>
        <div ng-hide="centerSelected">
            <h1>No ha seleccionado ningun centro con el que trabajar, seleccione uno de los siguientes.</h1>
            <table>
                <tr data-ng-repeat="centro in centros">
                    <td>{{ centro.nombre }}</td>
                    <td><btn ng-click="seleccionaCentro(centro.id)">Seleccionar</btn></td>
                </tr>
            </table>

            <h1>o cree un nuevo <p><a class="btn btn-info" href="#/centros/new" role="button">centro</a></p></h1>
        </div>

        <div ng-show="centerSelected">
            <p><a class="btn btn-info" href="#/centros" role="button">Ver Centros</a></p>
            <p><a class="btn btn-info" href="#/profesores" role="button">Ver Profesores</a></p>
            <p><a class="btn btn-info" href="#/clases" role="button">Ver Clases</a></p>
            <p><a class="btn btn-info" href="#/cursos" role="button">Ver Cursos</a></p>
            <p><a class="btn btn-info" href="#/alumnos" role="button">Ver Alumnos</a></p>
        </div>
    </div>

    <div data-ng-show="isProfesor">
        <h2>Profesor</h2>

            <p><a class="btn btn-info" href="#/profesor/alumnos" role="button">Ver Alumnos</a></p>
    </div>

    <div data-ng-show="isFamiliar">
        <h2>Familiar</h2>
            <p><a class="btn btn-info" href="#/familiar/alumnos" role="button">Ver Alumnos</a></p>
    </div>
</div>

<div class="row" data-ng-hide="authentication.isAuth">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>