<div class="row" data-ng-show="authentication.isAuth">
    <div data-ng-show="isAdmin">
        <h2>{{ 'ROLES.ADMIN' | translate }}</h2>
        <p><a class="btn btn-info" href="#/admin/centros" role="button">{{ 'CENTROS' | translate }}</a></p>
        <p><a class="btn btn-info" href="#/admin/usuarios" role="button">{{ 'USUARIOS' | translate }}</a></p>
    </div>

    <div data-ng-show="isGestor">
        <h2>{{ 'ROLES.GESTOR' | translate }}</h2>
        <div ng-hide="centerSelected">
            <h1>{{ 'NO_CENTRO' | translate }}</h1>
            <div class="row">
                <div class="col-4 col-sm-4 col-lg-4" ng-repeat="centro in centros">
                    <a class="btn btn-success" ng-click="seleccionaCentro(centro.id)" role="button">
                        <span class="flaticon flaticon-school47"></span>
                        <h2>{{centro.nombre}}</h2>
                    </a>
                </div>
            </div>
            <h1>{{ 'CREAR_CENTRO' | translate }}<p><a class="btn btn-info" href="#/centros" role="button">{{ 'CENTRO' | translate}}</a></p></h1>
        </div>

        <div class="row" ng-show="centerSelected">
            <div class="col-md-6 col-md-offset-3">
                <p><a class="btn btn-info btn-block" href="#/centros" role="button"><span class="flaticon flaticon-school47"></span> {{ 'CENTROS' | translate }}</a></p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><a class="btn btn-info btn-block" href="#/profesores" role="button"><span class="flaticon flaticon-teacher10"></span> {{ 'PROFESORES' | translate }}</a></p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><a class="btn btn-info btn-block" href="#/clases" role="button"><span class="flaticon flaticon-students3"></span> {{ 'CLASES' | translate }}</a></p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><a class="btn btn-info btn-block" href="#/cursos" role="button"><span class="flaticon flaticon-round15"></span> {{ 'CURSOS' | translate }}</a></p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><a class="btn btn-info btn-block" href="#/alumnos" role="button"><span class="flaticon flaticon-kids1"></span> {{ 'ALUMNOS' | translate }}</a></p>
            </div>
        </div>
    </div>

    <div data-ng-show="isProfesor">
       <h2>{{ 'ROLES.PROFESOR' | translate }}</h2>

            <p><a class="btn btn-info" href="#/profesor/alumnos" role="button">{{ 'ALUMNOS' | translate }}</a></p>
    </div>

    <div data-ng-show="isFamiliar">
        <h2>{{ 'ROLES.FAMILIAR' | translate }}</h2>
            <p><a class="btn btn-info" href="#/familiar/alumnos" role="button">{{ 'ALUMNOS' | translate }}</a></p>
    </div>
</div>

<div class="row" data-ng-hide="authentication.isAuth">
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>BabyBook Web</h1>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
                
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="content/images/1278234902_1.jpg" />
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="content/images/guarderias-avisan-junta-1--644x362.jpg" />
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="content/images/guarderias5.jpg" />
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <p>{{ 'SOBRE_BB1' | translate }}</p>
            <p>{{ 'SOBRE_BB2' | translate }}</p>
            <p>{{ 'SOBRE_BB3' | translate }}</p>
        </div>
          </div>
    

    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">{{ 'LOGIN' | translate }}</p>
        <p><a class="btn btn-info" href="#/login" role="button">{{ 'BTN_LOGIN' | translate }} &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">{{ 'SIGNUP' | translate }}</p>
        <p><a class="btn btn-info" href="#/signup" role="button">{{ 'BTN_SIGNUP' | translate }} &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>