<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h2 data-ng-show="newCentro">{{ 'NUEVO' | translate}} {{ 'CENTRO' | translate}}</h2>
            <h2 data-ng-hide="newCentro">{{ 'EDITAR' | translate}} {{ 'CENTRO' | translate}}</h2>
        </div>

        <div class="modal-body">
            <form>
                <label>{{ 'CENTRO_CAMPOS.NOMBRE' | translate}}</label>
                <input type="text" class="form-control" placeholder="NombreCentro" data-ng-model="centro.nombre" />
                <label>{{ 'CENTRO_CAMPOS.DIRECCION' | translate}}</label>
                <input type="text" class="form-control" placeholder="Direccion del Centro" data-ng-model="centro.direccion" />
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="save(centro)">{{ 'GUARDAR' | translate}}</button>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <div data-ng-hide="messageok == ''" class="alert alert-success">
                {{messageok}}
            </div>
        </div>
    </div>
</div>


