<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h2 data-ng-show="newCurso">{{ 'NUEVO' | translate}}</h2>
            <h2 data-ng-hide="newCurso">{{ 'EDITAR' | translate }}</h2>
            <h2>{{ 'CURSO' | translate}}</h2>
        </div>
        <div class="modal-body">
            <form>
                <label>{{ 'CURSO_CAMPOS.DESCRIPCION' | translate}}</label>
                <input type="text" class="form-control" placeholder="Descripción" data-ng-model="curso.descripcion" />
                <label>{{ 'CURSO_CAMPOS.FECHA_INICIO' | translate}}</label>
                <br />
                <quick-datepicker ng-model="curso.fechaInicio" disable-timepicker='true' date-format="dd/MM/yyyy"></quick-datepicker>
                <br />
                <label>{{ 'CURSO_CAMPOS.FECHA_FIN' | translate}}</label>
                <br />
                <quick-datepicker ng-model="curso.fechaFin" disable-timepicker='true' date-format="dd/MM/yyyy"></quick-datepicker>
                <br />
                {{ 'CURSO_CAMPOS.ACTIVO' | translate }}: <input type="checkbox" ng-model="curso.activo" />
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="createCurso()">{{ 'GUARDAR' | translate }}</button>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <div data-ng-hide="messageok == ''" class="alert alert-success">
                {{messageok}}
            </div>
        </div>
