<div class="row">
    <div class="col-md-2">
        &nbsp;
        <!--<p><a class="btn btn-info" href="#/profesores/new" role="button">Nuevo Profesor</a></p>-->
        <button role="button" class="btn" ng-click="editProfesor('new')" data-toggle="modal" href="#editModal">Nuevo</button>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Clase</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="profesor in profesores">
                    <td>
                        {{profesor.id}}
                    </td>
                    <td>
                        {{profesor.nombre}}
                    </td>
                    <td>
                        {{profesor.clase.nombre}}
                    </td>
                    <td>
                        <button role="button" class="btn" ng-click="editProfesor(profesor)" data-toggle="modal" href="#editModal">Edit</button>
                        <button role="button" class="btn" ng-click="mostrarClases(profesor)" data-toggle="modal" href="#asignarModal">Asignar Clase</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" ng-include="'app/views/newProfesor.html'" id="editModal" role="dialog"></div>

        <div class="modal fade" ng-include="'app/views/asignarClase.html'" id="asignarModal" role="dialog"></div>
        
    </div>
</div>