<h2>{{ 'AGENDA' | translate }}</h2>


<div class="row">
    <div class="col-md-2">
        <button role="button" class="btn" ng-click="editControl('new')" data-toggle="modal" href="#editModal">{{ 'NUEVO' | translate }}</button>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ 'FECHA' | translate}}</th>
                    <th>{{ 'ACCIONES' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="control in controles">
                    <td>
                        {{control.fecha | date: 'dd-MM-yyyy'}}
                    </td>
                    <td>
                        <button role="button" class="btn" ng-click="editControl(control)" data-toggle="modal" href="#editModal">{{ 'VER_AGENDA' | translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="modal fade" ng-include="'app/views/agenda/controldiario.html'" id="editModal" role="dialog"></div>
    </div>

</div>

