<h2>Agenda</h2>


<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="control in controles">
                    <td>
                        {{control.fecha}}
                    </td>
                    <td>
                        <button role="button" class="btn" ng-click="verControl(control)" data-toggle="modal" href="#editModal">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="modal hide fade" ng-include="'app/views/agenda/controldiario.html'" id="editModal" role="dialog"></div>
    </div>

</div>

